
<div style="display: flex; flex-direction: column">
  <form ngForm #f="ngForm" novalidate>
    <div>
      <div style="height: 1rem"></div>
      <label>
        Blog Title<br>
        <input name="title" required [formControl]="titleFC">
      </label>
    </div>
    <div style="height: 1rem"></div>
    <div>
      <label>
        Blog Author<br>
        <input name="author" [formControl]="authorFC">
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [checked]="featured" (change)="featured = !featured" id="featuredCheck">
      <label class="form-check-label" for="featuredCheck">
        Feature Blog
      </label>
    </div>
    <div class="form-group">
      <label for="fileUpload">Upload Cover Image</label>
      <input type="file" class="form-control-file" id = 'fileUpload' accept=".png, .jpg, .jpeg" (change)="uploadCoverImage($event)">
    </div>
    <div style="height: 1rem"></div>
    <div>
      <label>
        Blog Body<br>
      </label>
    </div>
  </form>
</div>
<ckeditor *appShellNonRenderDirective #editorComponent [config]="config" [editor]="editor" [data]="body" (change)="onEditorChange($event)"></ckeditor>
<div style="height: 1rem"></div>
<button (click)="saveAsDraft()">Save As Draft</button>
<button *ngIf="!editing" (click)="publish()">Publish</button>
<button *ngIf="editing" (click)="publish()">Update</button>
<h3>{{backendResponse}}</h3>


