<p>blog-editor works!</p>
<p>Current id for new blog: {{id}}</p>
<div style="display: flex; flex-direction: column">
  <form ngForm #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div>
      <label>
        Blog Title<br>
        <input name="title" required [formControl]="titleFC">
      </label>
    </div>
    <div>
      <label>
        Blog Author<br>
        <input name="author" [formControl]="authorFC">
      </label>
    </div>
    <div>
      <label>
        Blog Body<br>
        <textarea name = "html" [formControl]="bodyFC"></textarea>
      </label>
    </div>
    <button *ngIf="!editing">Publish</button>
    <button *ngIf="editing">Update</button>
  </form>
</div>
<h3>{{backendResponse}}</h3>
<h1>CK EDITOR BELOOOOW</h1>
<ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>


