
<div style="display: flex; flex-direction: column">
  <form ngForm #f="ngForm" novalidate>
    <div>
      <div style="height: 1rem"></div>
      <label>
        Blog Title<br>
        <input name="title" required [formControl]="titleFC">
      </label>
    </div>
    <div style="height: 1rem"></div>
    <div>
      <label>
        Blog Author<br>
        <input name="author" [formControl]="authorFC">
      </label>
    </div>
    <div style="height: 1rem"></div>
    <div>
      <label>
        Blog Body<br>
      </label>
    </div>
  </form>
</div>
<ckeditor #editorComponent [config]="config" [editor]="editor" [data]="body" (change)="onEditorChange($event)"></ckeditor>
<div style="height: 1rem"></div>
<button *ngIf="!editing" (click)="onSubmit()">Publish</button>
<button *ngIf="editing" (click)="onSubmit()">Update</button>
<h3>{{backendResponse}}</h3>


