<div>
  <a class="btn btn-success text-white text-center w-100" [routerLink]="['/grape']" [queryParams]="{parent: ''}">
    +
  </a>
</div>
<div *ngIf="loading" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<tree-root *ngIf="loading" style="color: rgba(0,0,0,0.5); background: rgba(0,0,0,0.1)" [state]="state"
           [options]="options" [focused]="true" [nodes]="nodes"
           (moveNode)="onMoveNode($event)">
</tree-root>
<tree-root *ngIf="!loading" [state]="state" [options]="options" [focused]="true" [nodes]="nodes"
           (moveNode)="onMoveNode($event)">
  <ng-template #treeNodeTemplate let-node let-index="index">
    <div style="border: 1px solid #1f1f1f;" class="row align-items-center justify-content-start m-2 p-2">
      <div class="col-6 align-items-center">
        {{ node.data.name }}
      </div>
      <div class="col-6 d-flex">
        <div class="col-4">
          <button [routerLink]="['/grape']" [queryParams]="{id: node.data.id}"
                  class="btn btn-info mx-1 py-2  d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                 viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
          </button>
        </div>
        <div class="col-4">
          <button class="btn btn-success mx-1 py-2  d-flex justify-content-center align-items-center"
                  [routerLink]="['/grape']" [queryParams]="{parent: node.data.id}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="16px" height="16px"
                 viewBox="0 0 256 256" style="max-width: 16px;" xml:space="preserve">
<style type="text/css">
	.st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20;
    stroke-miterlimit: 10;
  }
</style>
              <circle class="st0" cx="128" cy="128" r="118"/>
              <rect x="29.51" y="127.25" class="st1" width="197.07" height="1.5"/>
              <rect x="29.51" y="127.25" transform="matrix(6.123234e-17 -1 1 6.123234e-17 0.0457 256.0457)" class="st1"
                    width="197.07" height="1.5"/>
</svg>

          </button>
        </div>
        <div class="col-4">
          <button class="btn btn-danger mx-1 py-2  d-flex justify-content-center align-items-center"
                  (click)="deleteBlog(blog.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                 viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </div>

      </div>
    </div>

  </ng-template>
</tree-root>


