<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #FFFFFF;">
  <a class="navbar-brand pr-5" href="#">
    <span class="d-flex align-items-center">
      <img src="assets/bcedaccess_logo.png" alt = 'BCEdAccess Logo' style = 'width: 50px; height: 50px' id = "logo">
      <h4 class="m-0 ml-1">BCEdAccess</h4>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active px-3">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active"><h5>Home</h5><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" routerLinkActive="active"><h5>About</h5></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" [routerLink]="['./blog']" routerLinkActive="active"><h5>Blog</h5></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link"  routerLinkActive="active"><h5>Contact</h5></a>
      </li>
    </ul>
  </div>
</nav>

