<div id="homepage-header">
  <div id="search-bar-block">
    <h1 style="text-shadow: #1f1f1f 0px 3px 8px">
      BCEdAccess
    </h1>
    <app-search-bar></app-search-bar>
  </div>


</div>
<div class="container-xl my-5">
  <div class="row justify-content-center">
    <div class="col col-10">

      <p>BCEdAccess Society is an entirely volunteer-run organization serving families of students with disabilities and
        complex learners all over the province of British Columbia. Our parent support group has over 2900 members and
        stories shared on our private discussion board daily illustrate the depth of the challenges families face in
        pursuing equitable access to education in BC schools.</p>
      <br>

      <p>Our story began when a small group of parents gathered together in a Facebook group around the end of 2014.
        Tracy
        Humphreys set up this group because although she was able to find many great organizations of parents working
        together to support specific disabilities, there was none that gathered all of the parents together to discuss
        the
        issues that all of these groups have in common in trying to access education for their children. The group was
        fortunate to have some very strong and long-term parent advocates join as founding members, setting the tone and
        direction of the organization that has continued to today.</p>
    </div>
  </div>

</div>

<div class="container-xl my-5">

  <div class="row justify-content-center">
    <div class="col col-10 p-3 px-5" style="background: indianred">
      <a [routerLink]="['blog']">
        <button class="donate-button">DONATE TODAY</button>
      </a>

      <p class="" >
        We champion and support children and youth who have disabilities and who are complex learners to reach their
        full
        potential in BC education, and in all aspects of their lives. This is achieved through supporting families,
        sharing
        information, providing education to families, allies, professionals and students, providing community engagement
        and
        awareness, and other activities to promote equitable access to education and inclusion for all.
      </p>
    </div>
  </div>
</div>

<div class="container-xl my-5">

  <div class="row justify-content-around row-cols-1">

    <div [routerLink]="'blog'" class="col-10 col-md-4 d-flex flex-column text-center p-4" style="background: grey; height: 300px; cursor: pointer">
      <div class="h-50" style="background: url('assets/bcedaccess_logo.png'); background-position: 50% 50%; background-size: cover">
      </div>
      <h3>Title</h3>
      <p>why why why why why why why why why why why why why why why why why why why why why why why why why why why </p>

    </div>
    <div [routerLink]="'events'" class="col-10 col-md-4 d-flex flex-column text-center p-4" style="background: grey; height: 300px; cursor: pointer">
      <div class="h-50" style="background: url('assets/bcedaccess_logo.png'); background-position: 50% 50%; background-size: cover">
      </div>
      <h3>Title</h3>
      <p>why why why why why why why why why why why why why why why why why why why why why why why why why why why </p>

    </div>
  </div>
</div>

<!--<div class="container-fluid pr-0">-->
<!--  <div class="row justify-content-end">-->
<!--    <div class="col-1"></div>-->
<!--    <div class="col col-10 px-0 bg-danger">-->
<!--      aaaaaaaaa-->
<!--    </div>-->
<!--    <div class="col-1 pr-0 bg-danger"></div>-->
<!--  </div>-->
<!--</div>-->
