<div class="row py-5" style="height: 10%;"></div>
<div class="row py-5 justify-content-center">
  <div class="col-12 col-lg-6 d-flex flex-column align-items-center align-items-lg-baseline justify-content-center justify-content-lg-around order-2 order-lg-1">
    <h3 style="color: #5DAE40; font-weight: 400">ABOUT US</h3>
    <h4 class="font-weight-normal">
      We are a ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget placerat neque. Etiam eros nulla, sodales
      in nibh vel, suscipit volutpat nisi. Nullam eu erat non velit porta viverra vitae nec turpis. Mauris volutpat finibus velit, at efficitur lacus ultrices bibendum.
    </h4>
    <button class="btn rounded-pill btn-primary" style="background-color: #5DAE40; border-color: #5DAE40"><h4 class="m-1 font-weight-normal">Learn
      More</h4></button>

  </div>
  <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center order-1 order-lg-2">
    <div class="img-fluid">
      <img style="width: 100%; height: auto;" src="https://via.placeholder.com/1400x400.png">
    </div>


  </div>
</div>
