<!--<div *ngIf="currentPage && currentPage.children">-->
<!--  <div *ngFor="let child of currentPage.children">-->
<!--    <a [routerLink]="['/','p',child]">{{child}}</a>-->
<!--  </div>-->
<!--</div>-->
<!--<div *ngIf="currentPage" [innerHTML]="currentPage.body"></div>-->
<!--<router-outlet></router-outlet>-->
<button (click)="deletePage()">Delete Page</button>
<button (click)="addTestPage()">Add Test Page</button>
<button (click)="moveToRoot(currentPage.id)">Move to root</button>
<button (click)="moveToTest(currentPage.id)">Move Up To Test</button>
<app-page-view *ngIf="currentPage" [currentPage]="currentPage"></app-page-view>

