
<form class="" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="form-group border-info border rounded p-1">
    <label class="p-1" for="exampleFormControlInput1">Enter Email Address of new author:</label>
    <input type="email" class="form-control p-1" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">
    <button type = "submit" class="btn btn-light p-1">Add Author</button>
    <div *ngIf="submitting" class="spinner-border text-primary align-middle" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</form>

